
<!DOCTYPE html>
<html lang="en" dir="ltr">
  {{ partial "head.html" . }}
  <body>
    {{ partial "header.html" . }}
    {{ block "main" . }}
    <section class="prod-hero">
      <h1>Weekly Discounts</h1>
      <div class="p-accent"></div>
      <ul class="breadcrumb">
        <li><a href="/">HOMEPAGE > </a></li>
        <li class="current">{{.Params.title}}</li>
      </ul>
      <p>Discover our weekly discounts on quality deli meats and cheeses!</p>

    </section>
    <section>
      <div class="discount">
        <h3>{{.Params.firstdiscountedprod}}</h3>
        <h3>{{.Params.percentage1}}% off</h3>
      </div>
      <div class="discount">
        <h3>{{.Params.seconddiscountedprod}}</h3>
        <h3>{{.Params.percentage2}}% off</h3>
      </div>
    </section>
    {{ end }}
    {{partial "footer.html" . }}
  </body>
</html>
